:root {
  --lightaqua: #26959f;
  --aqua: #103e42;
  --darkaqua: #061819;
  --offwhite: #f3f3f3;
  
  --yellow: #baa538;
  --darkyellow: #48513b;
  --red: #99526c;
  --darkred: #3c2c36;
  --green: #6e8939;
  --darkgreen: #395838;
  --gray: #64716d;
  --darkgray: #394847;
  --purple: #919bba;
  --darkpurple: #445369;
}

* {
  box-sizing: border-box;
/*  scroll-behavior: smooth;*/

}

body {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--darkaqua);
  background-color: black;
  color: var(--offwhite);
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 320px;
  height: 100%;
  border-right: 4px solid var(--lightaqua);
  padding-right: 20px;
}

h1 {
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 30px;
}

.nav-link {
  padding: 5px 15px;
  border-bottom: 2px solid var(--lightaqua);
  text-decoration: none;
  color: var(--offwhite);
}

.nav-link:nth-of-type(1) {
  border-top: 2px solid var(--lightaqua);
}

main {
  margin-left: 320px;
  padding: 30px;
}

section {
  margin-bottom: 80px;
  width: 800px;
}

p, li {
  width: 650px;
  line-height: 22px;
}

li {
  width: 500px;
  margin-bottom: 10px;
}

div {
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  width: 700px;
}

/*Add line only to elements with more .skill child sections*/
#Attributes_and_Skills div.parent:before {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: -50px;
  content: "";
  width: 4px;
  background: var(--aqua);
}

/*Remove line from the last section so no dangling lines*/
#Attributes_and_Skills div.last:before {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: -100px;
  content: "";
  width: 4px;
  background: black;
}

/*Deal with the weird dangling lines in the Drone sections*/
#Attributes_and_Skills div.dangle:before {
  position: absolute;
  top: -80%;
  bottom: 0;
  left: -150px;
  content: "";
  width: 4px;
  background: black;
}


#Attributes_and_Skills div.dangle:after {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: -100px;
  content: "";
  width: 4px;
  background: black;
}

/*Horizontal line in tree*/
#Attributes_and_Skills div h4:before {
  position: absolute;
  left: -100px;
  right: 750px;
  top: 8px;
  content: "";
  height: 4px;
  background: var(--aqua);
/*  background: red;*/
  z-index: 5;
}


/*Add cirlce to each new section*/
#Attributes_and_Skills div h4:after, #Attributes_and_Skills div h3:after  {
  position: absolute;
/*  background: red;*/
  background: var(--aqua);
  left: -53px;
  top: 5px;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#Attributes_and_Skills div h3:after {
  top: 8px;
}

h2 {
  background-color: var(--aqua);
  color: var(--lightaqua);
  padding: 5px 5px 20px 5px;
  position: relative;
}

/*Add line on top of h2 background*/
h2:before {
  content: "";
  width: 650px;
  height: 10px;
  background-color: var(--aqua);
  position: absolute;
  top: -10px;
  left: 0;
}

/*Create the slant at the end of the line*/
h2:after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid var(--aqua);
  position: absolute;
  top: -6px;
  left: 640px;
  transform: rotate(45deg);
}

code {
  display: block;
  background-color: var(--darkaqua);
  padding: 5px 0 10px 30px;
  border-left: 6px solid var(--lightaqua);
  color: var(--lightaqua);
  width: 90%;
  
}

code li {
  margin-bottom: 0;
}

#Archetypes h3, #Attributes_and_Skills h3 {
  padding: 5px;
  position: relative;
}

#Body h3, #Rigger h3 {
  background-color: var(--darkgray);
}

#Quickness h3, #Street_Samurai h3 {
  background-color: var(--darkyellow);
}

#Stength h3, #Mage h3 {
  background-color: var(--darkred);
}

#Intelligence h3, #Decker h3, #None h3  {
  background-color: var(--aqua);
}

#Willpower h3, #Physical_Adept h3 {
  background-color: var(--darkpurple);
}

#Charisma h3, #Shaman h3 {
  background-color: var(--darkgreen);
}

/*
h3:before {
  content: "";
  width: 650px;
  height: 10px;
  background-color: var(--aqua);
  position: absolute;
  top: -10px;
  left: 0;
}

h3:after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid var(--aqua);
  position: absolute;
  top: -6px;
  left: 640px;
  transform: rotate(45deg);
}
*/


@media (max-width: 1279px) {
  
  section {
    width: 650px;    
  }
  
  /*Add line on top of h2 background*/
  h2:before {
    width: 450px;
  }

  /*Create the slant at the end of the line*/
  h2:after {
    left: 440px;
  }
  
  #Attributes_and_Skills div h4:before {
    position: absolute;
    left: -100px;
    right: 650px;
  }
  
  
  
  p {
    width: 550px;
  }

  li {
    width: 400px;
  }

  div {
    width: 600px;
  }
}

@media (max-width: 1152px) {
  
  section {
    width: 550px;    
  }
  
  /*Add line on top of h2 background*/
  h2:before {
    width: 350px;
  }

  /*Create the slant at the end of the line*/
  h2:after {
    left: 340px;
  }
  
  /*Horizontal line in tree*/
   #Attributes_and_Skills div h4:before {
    position: absolute;
    left: -100px;
    right: 550px;
  }
  
  p {
    width: 450px;
  }

  li {
    width: 300px;
  }

  div {
    width: 500px;
  }
}

@media (max-width: 1080px) {
  
  section {
    width: 450px;    
  }
  
  /*Add line on top of h2 background*/
  h2:before {
    width: 250px;
  }

  /*Create the slant at the end of the line*/
  h2:after {
    left: 240px;
  }
  
  /*Horizontal line in tree*/
   #Attributes_and_Skills div h4:before {
    position: absolute;
    left: -100px;
    right: 450px;
  }
  
  #Attributes_and_Skills div.dangle:before {
    top: -81%;
  }
  
  p {
    width: 350px;
  }

  li {
    width: 250px;
  }

  div {
    width: 400px;
  }
}

@media (max-width: 900px) {
  
  body {
    flex-direction: column;
  }
  
  nav {
    position: inherit;
    height: 300px;
    width: 100%;
    border-bottom: 4px solid var(--lightaqua);
    border-right: 0;
    padding: 0 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  main {
    margin: 0 auto;
  }
  
  section {
    width: 650px;    
  }
  
  /*Add line on top of h2 background*/
  h2:before {
    width: 550px;
  }

  /*Create the slant at the end of the line*/
  h2:after {
    left: 540px;
  }
  
  /*Horizontal line in tree*/
   #Attributes_and_Skills div h4:before {
    position: absolute;
    left: -100px;
    right: 650px;
  }
  
  #Attributes_and_Skills div.dangle:before {
    top: -80%;
  }
  
  p {
    width: 550px;
  }

  li {
    width: 450px;
  }

  div {
    width: 600px;
  }
}

@media (max-width: 768px) {
  section {
    width: 400px;    
  }
  
  /*Add line on top of h2 background*/
  h2:before {
    width: 300px;
  }

  /*Create the slant at the end of the line*/
  h2:after {
    left: 280px;
  }
  
  /*Horizontal line in tree*/
   #Attributes_and_Skills div h4:before {
    position: absolute;
    left: -70px;
    right: 400px;
  }
  
  /*Remove line from the last section so no dangling lines*/
  #Attributes_and_Skills div.last:before {
    left: -70px;
  }
  
  #Attributes_and_Skills div.dangle:before {
    top: -60%;
    left: -90px;
  }


  #Attributes_and_Skills div.dangle:after {
    top: 8px;
    bottom: 0;
    left: -70px;

  }
  
  p {
    width: 300px;
  }

  li {
    width: 200px;
  }

  div {
    width: 350px;
    margin-left: 20px;
  }
}






